@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans+Condensed:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i");
.backgroundd{
   
}
.backgroundd img{
	width: 100%;
	top: -20%;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -2;
}
 .about {
	 position: fixed;
	 z-index: 10;
	 bottom: 10px;
	 right: 10px;
	 width: 40px;
	 height: 40px;
	 display: flex;
	 justify-content: flex-end;
	 align-items: flex-end;
	 transition: all 0.2s ease;
}
 .about .bg_links {
	 width: 40px;
	 height: 40px;
	 border-radius: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 background-color: rgba(255, 255, 255, 0.2);
	 border-radius: 100%;
	 backdrop-filter: blur(5px);
	 position: absolute;
}
 .about .logo {
	 width: 40px;
	 height: 40px;
	 z-index: 9;
	 background-image: url(https://rafaelalucas91.github.io/assets/codepen/logo_white.svg);
	 background-size: 50%;
	 background-repeat: no-repeat;
	 background-position: 10px 7px;
	 opacity: 0.9;
	 transition: all 1s 0.2s ease;
	 bottom: 0;
	 right: 0;
}
 .about .social {
	 opacity: 0;
	 right: 0;
	 bottom: 0;
}
 .about .social .icon {
	 width: 100%;
	 height: 100%;
	 background-size: 20px;
	 background-repeat: no-repeat;
	 background-position: center;
	 background-color: transparent;
	 display: flex;
	 transition: all 0.2s ease, background-color 0.4s ease;
	 opacity: 0;
	 border-radius: 100%;
}
 .about .social.portfolio {
	 transition: all 0.8s ease;
}
 .about .social.portfolio .icon {
	 background-image: url(https://rafaelalucas91.github.io/assets/codepen/link.svg);
}
 .about .social.dribbble {
	 transition: all 0.3s ease;
}
 .about .social.dribbble .icon {
	 background-image: url(https://rafaelalucas91.github.io/assets/codepen/dribbble.svg);
}
 .about .social.linkedin {
	 transition: all 0.8s ease;
}
 .about .social.linkedin .icon {
	 background-image: url(https://rafaelalucas91.github.io/assets/codepen/linkedin.svg);
}
 .about:hover {
	 width: 105px;
	 height: 105px;
	 transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
 .about:hover .logo {
	 opacity: 1;
	 transition: all 0.6s ease;
}
 .about:hover .social {
	 opacity: 1;
}
 .about:hover .social .icon {
	 opacity: 0.9;
}
 .about:hover .social:hover {
	 background-size: 28px;
}
 .about:hover .social:hover .icon {
	 background-size: 65%;
	 opacity: 1;
}
 .about:hover .social.portfolio {
	 right: 0;
	 bottom: calc(100% - 40px);
	 transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
 .about:hover .social.portfolio .icon:hover {
	 background-color: #698fb7;
}
 .about:hover .social.dribbble {
	 bottom: 45%;
	 right: 45%;
	 transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
 .about:hover .social.dribbble .icon:hover {
	 background-color: #ea4c89;
}
 .about:hover .social.linkedin {
	 bottom: 0;
	 right: calc(100% - 40px);
	 transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
 .about:hover .social.linkedin .icon:hover {
	 background-color: #0077b5;
}
/* main 1*/
/* main 2*/
/* neutral 1*/
/* neutral 2*/
 body {
	 background-color: #2e2e2e;
	 font-family: "IBM Plex Sans", sans-serif;
	 margin: 0;
}
 #wrapper {
	 margin-top:4rem ;
	 justify-content: center;
	 align-items: center;
	 width: 100%;
}
 .content {
	
	 width: 100%;
	 display: flex;
	
	
	 transition: 0.3s ease;
}

/* Tabs menu */
 .tabs {
	 margin: 0;
     width: 200px;
	 color: white;
	
	 justify-content: space-between;
	 align-items: center;
	
	 border-radius: 2px 2px 0px 0px;
}
 @media screen and (max-width: 512px) {
	 .tabs {
		 height: 40px;
	}
}
/* Tab Links */
 .tablinks {
	 background: transparent;
	 
	 border: none;
	 outline: none;
	 cursor: pointer;
	 width: 200px;
	
	 height: 180px;
	 position: relative;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 font-size: 16px;
	 font-family: "IBM Plex Sans", sans-serif;
	 overflow: hidden;
	 transition: 0.3s ease;
	 -webkit-mask-image: linear-gradient(90deg, rgb(255 255 255) 30%, rgba(255, 255, 255, 0.294) 100%);
  mask-image: linear-gradient(black, transparent);
}

 .tablinks:before {
	/* Gradient */
	 background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	 content: "";
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 top: 0;
	 left: 0;
	 transition: 0.3s ease-in-out;
	 z-index: 99;
	 opacity: .5;
}
/*tab buttons hover*/
 .tablinks:hover::before {
	 height: 100%;
	 z-index: 2;
	 bottom: 0;
}
 
/* Tab active */
 .tablinks.active {
    background-color: #46005c1c;
	 z-index: 5;
	 border-right: 0px;
	 border-left: 0px;
	 
	 bottom: 0px;
	 overflow: hidden;
	 -webkit-mask-image:none;
  mask-image: none;
}
 
 .tablinks.active:before {
	/* Gradient */
	content: "";
    width: 5px;
    height: 100%;
    top: 0px;
    left: 97%;
    background-color: rgb(255 255 255);
}
/* Tabs text */
 .tablinks.active p, .tablinks.active:hover p {
	 opacity: 1;
	 background: -webkit-linear-gradient(0deg, rgb(72 89 162) 0%, rgb(90 57 123 / 28%) 100%);
	 padding: 10px 84px;
	 -webkit-text-fill-color: white;
	
}
 .tablinks p {
	 opacity: 0.6;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 z-index: 2;
	 transition: 0.5s ease;
	 padding: 0;
	 margin: 0;
	 color: #ffffff;
	 backface-visibility: hidden;
	 font-weight: 400;
	 font-size: 18px;
}
 .tablinks:hover p {
	 color: white;
	 opacity: 1;
}
 @media screen and (max-width: 512px) {
	 .tablinks:hover p {
		 color: #686868;
		 opacity: 0.6;
	}
}
/* Tabs text bigger */
 .tablinks p:before {
	 content: attr(data-title);
	 position: absolute;
	 height: auto;
	 width: auto;
	 color: white;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 opacity: 0.1;
	 font-size: 40px;
	 transition: 1s ease-out;
	 z-index: -1;
	 font-weight: 600;
	 top: 110%;
}
 @media screen and (max-width: 512px) {
	 .tablinks p:before {
		 display: none;
	}
}
 .tablinks:hover p:before {
	 opacity: 0.1;
	 font-size: 40px;
	 top: -80%;
}
/* tab content */
 .wrapper_tabcontent {
	
	margin-top: 57px;
    z-index: 0;
    position: relative;
    opacity: 1;
    padding: 67px 90px 0px 90px;
    overflow: hidden;
    transition: all 1s ease;
    top: -60px;
    color: white;
    height: max-content;
    display: flex;
    background: linear-gradient(90deg, rgb(16 5 30) 9%, rgba(255,255,255,0) 80%);

}

 .tabcontent {
	 display: none;
	 min-height: 180px;
	 
}
 @keyframes tabEffect {
	 from {
		 top: -40px;
	}
	 to {
		 top: 0px;
	}
}
 .tabcontent.active {
	 transition: all 1s ease;
	 display: block;
}
/* Tab content line */
 .wrapper_tabcontent:after {
	 content: "";
	 height: 5px;
	 width: 100%;
	 position: absolute;
	 background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	 left: 0;
	 bottom: 0;
	 z-index: -2;
	 transition: all 1s ease;
}
/* Title */
 .tabcontent h3 {
	font-size: 60px;
    top: 10px;
    position: absolute;
    left: 90px;
    height: 60px;
    color: white;
    z-index: 99;
    padding-bottom: 1rem;
    animation: city 1s ease;
}
 @media screen and (max-width: 512px) {
	 .tabcontent h3 {
		 top: 65px;
	}
}
 @keyframes city {
	 from {
		 left: -150px;
	}
	 to {
		 left: 90px;
	}
}
/* Text*/
 .tabcontent p {
	 
	margin: 2rem 0;
    padding: 0;
    line-height: 28px;
    font-weight: 400;
    transition: all 1s ease;
    animation: fadeEffect 0.6s ease;
    width: 55%;
    font-size: 16px;
    font-family: "IBM Plex Sans", sans-serif;
    z-index: 99;
    position: relative;
}
 @media screen and (max-width: 512px) {
	 .tabcontent p {
		 font-size: 14px;
		 line-height: 26px;
	}
}
 @keyframes fadeEffect {
	 from {
		 opacity: 0;
		 margin-left: 30px;
	}
	 to {
		 opacity: 1;
		 margin-left: 0;
	}
}
 
.image-character{
	position: absolute;
    width: 90%;
    top: 9rem;
    right: -17rem;
	animation:fadecha .5s ;
}
@keyframes fadecha {
	from {
		opacity: 0;
		top: -2rem;
   }
	to {
		opacity: 1;
		top: 9rem;
   }
}
.vid > *{
	width: 100%;
	margin-top: 2rem;
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.42);
    background: linear-gradient(90deg, rgba(15, 5, 27, 0.703) 0%, rgba(255,255,255,0) 82%);
}